<html>
 <body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <h5 class="{{ category }}">{{ message }}</h5>
        {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit value="Submit">
  </form>
  <form action="{{ home_url }}" method="GET">
    <input type="submit" value="Cancel">
  </form>
 </body>
</html>

