<h1>Storytellers</h1>

{% if current_user.is_authenticated %}
  Hi {{ current_user.firstname }}!
    <br><br>
    <form action={{ logout_url }} method="POST">
        <input type="submit" value="Logout">
    </form>
    <button type="button" onclick="window.location='{{ read_url }}'">Read Stories</button>
    <form action="{{ settings_url }}" method="GET">
        <input type="submit" value="New Story" >
    </form>
    <form action="{{ users_url }}/{{ current_user.id }}" method="GET">
      <input type="submit" value="My wall" >
  </form>

  
    <h2>Your Stories</h2>
    {% for story in stories %}
      <div>
        <li>
            {{story.text}} <form action="/stories/{{ story.id }}" method="POST"><button>DELETE</button></form>
        </li>
      </div>
    {% endfor %}

{% else %}
  Hi Anonymous!
    <br><br>
    <button type="button" onclick="window.location='{{ login_url }}'">Login</button>
    <button type="button" onclick="window.location='{{ register_url }}'">Register</button>
{% endif %}