<html>
<head>
    <title> Random recent story </title>
</head>

<body>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <h5 class="{{ category }}">{{ message }}</h5>
        {% endfor %}
    {% endif %}
{% endwith %}
<h2> Random recent story </h2>
Oops! There are no recent stories! :( <br>
Let's write your own story! <br> <br>
<form action="{{ settings_url }}" method="GET">
    <input type="submit" value="Write story">
</form>
</body>
</html>