<html>
  <body>
    <a href="/stories"><button><</button> Come back to all stories</a>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <h5 class="{{ category }}">{{ message }}</h5>
        {% endfor %}
    {% endif %}
{% endwith %}
    {% if not exists %}
    <div style="margin: 0 auto; width: 80%; text-align: center; vertical-align: middle;">
      <h1>Sorry the story you've searched doesn't exist!</h1>
      <a href="/stories">Come back</a>
    </div>
    {% else %}
    <div style="margin: 0 auto; width: 80%; text-align: center; vertical-align: middle;">
      <h1>Story #{{story.id}}</h1>
        <p>
          <b>Author:</b> {{ user.firstname }} {{ user.lastname }} <b>Date:</b> {{story.date}}
        </p>
        <p>
          <h3>Reactions:</h3>
          {% for r in reactions %}
              <b><a href="{{ react_url.format(story.id) }}/{{ r[0] }}">{{ r[0].title() }}</a></b>: {{ r[1] }}
          {% endfor %}
        </p>
    </div>
    <div style="margin: 0 auto; width: 80%; text-align: center; vertical-align: middle;">
        <h3>Rolled dices:</h3>
        <p>
        {% for die in rolled_dice %}
          <span>{{ die }}</span>
        {% endfor %}
        </p>
    </div>
    <div style="margin: 0 auto; width: 60%; text-align: center; vertical-align: middle;">
      <h3>Text of the story:</h3>
      <p>{{ story.text }}</p>
    </div>
    {% endif %}
  </body>
</html>