<html>
  <body>
    <a href="/"><button>HomePage</button></a>
    <h1>Story List</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <h5 class="{{ category }}">{{ message }}</h5>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br><br>
    <button type="button" onclick="window.location='{{ latest_url }}'">Latest Story</button>
    <form>
        <!--
        https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date
        At the moment, the best way to deal with dates in forms in a cross-browser
        way is to have the user enter the day, month, and year in separate controls, or
        to use a JavaScript library such as jQuery date picker.-->
        <input type="date" name="begin" id="begin">
        <input type="date" name="end" id="end">
        <button type="button" onclick="window.location='{{ range_url }}?begin=' + begin.value + '&end=' + end.value">Search Period</button>
    </form>
    <button type="button" onclick="window.location='{{ random_recent_url }}'">Random Recent Story </button>

    <ul>
      {% for item in stories %}
      <li>
      "{{item.text}}" ({{item.date}}) <button onclick="window.location='{{ story_url }}/{{ item.id }}'" >VIEW</button><br/>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
