<html>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for  message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
    <h5> {{ user_info.firstname }}'s wall </h5>
    First Name: {{ user_info.firstname }} <br>
    Last Name: {{ user_info.lastname }} <br>
    Date of birth: {{ user_info.dateofbirth }} <br> <br>

    Email: {{ user_info.email }}

{% else %}
    <a href="http://127.0.0.1:5000/login" )>Log in</a> to see the wall
{% endif %}
</body>
</html>
