<html>
    <body>
        <a href="/"><a href="/stories"><button><</button> Come back to the home page</a>
        {% if not_found %}
            <h3 style="text-align: center;">Sorry! The user you're looking for doesn't exist!</h3>
        {% else %}
        {% if my_wall %}
        		<h2> {{user_info.firstname}}'s wall </h2>
            First Name: {{user_info.firstname}} <br>
            Last Name: {{user_info.lastname}} <br>
            Date of birth: {{user_info.dateofbirth}} <br> <br>

            Email: {{user_info.email}}
            <h3>Statistics</h3>
            <table style="text-align: center; border-spacing: 7px">
                <tr>
                    <td>{{stats[2][1]}}</td>
                    <td>{{stats[1][1]}}</td>
                    <td>{{stats[0][1]}}</td>
                    <td>{{stats[3][1]}}</td>
                </tr>
                <tr>
                    <td><b># Stories</b></td>
                    <td><b># Reactions</b></td>
                    <td><b>Avg reactions per story</b></td>
                    <td><b>Avg dice per story</b></td>
                </tr>
            </table>
        {% else: %}
            <h2> {{user_info.firstname}}'s wall </h2>
            First Name: {{user_info.firstname}} <br>
            Last Name: {{user_info.lastname}} <br>
            Date of birth: {{user_info.dateofbirth}} <br> <br>

            Email: {{user_info.email}}
            <h3>Statistics</h3>
            <table style="text-align: center; border-spacing: 7px">
                <tr>
                    <td>{{stats[1][1]}}</td>
                    <td>{{stats[0][1]}}</td>
                </tr>
                <tr>
                    <td><b># Stories</b></td>
                    <td><b># Reactions</b></td>
                </tr>
            </table>
        {% endif %}
        {% endif %}
    </body>
</html>
