<html>
 <body>
 <h5>Le parole sono: {{ words }}</h5>
  <form id ="write_story_form"  method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}</dd>
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <p class="help-block">{{ e }}</p>
          {% endfor %}
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit onclick="submitForm('{{ submit_url }}')" value="Submit"/>
    <input type=submit onclick="submitForm('{{ draft_url }}')" value="Save as draft"/>
  </form>
 <h5> {{ message }} </h5>
 </body>
</html>
<script>
    function submitForm(action)
    {
        document.getElementById('write_story_form').action = action;
        document.getElementById('write_story_form').submit();
    }
</script>
